@import '../scss/generals.scss';
// @import Placeholder '../img/Placeholder.png';

.editProfile {
    background: $darkBlue;
    background: linear-gradient(180deg, rgba(136, 152, 255, 1) 0%, rgba(43, 71, 252, 1) 100%);
    border-radius: 0 0 20px 20px;

    height: 25vh;

    .topBlueContainer {
        text-align: center;
        padding: 5vh 5% 2vh 5%;
        margin-bottom: 2vh;
    }

    .whiteContainer {
        background: white;
        border-radius: 30px;
        width: 90%;
        margin: 0 auto;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
        position: relative;

        .image-container {
            position: relative;
            display: inline-block;

            .profilePicture {
                object-fit: cover;
                position: relative;
                top: -30px;
                border-radius: 100%;
                width: 150px;
                height: 150px;
                background: white;
                box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
            }

            .edit-image-icon {
                position: absolute;
                cursor: pointer;
                font-size: 2rem;
                background: rgba(255, 255, 255, 0.8);
                padding: 5px;
                border-radius: 50%;
                top: -25px;
                right: 5px;
            }

            .remove-image-icon {
                position: absolute;
                cursor: pointer;
                font-size: 2rem;
                background: rgba(255, 255, 255, 0.8);
                color: red;
                padding: 5px;
                border-radius: 50%;
                top: 95px;
                right: 5px;
            }
        }

    }

    /* Transactions History */

    .userInformation {
        overflow: scroll;
        height: 40vh;
        padding: 0 3%;
        margin-top: 1vh;
        background: white;
        border-radius: 30px;

        h6 {
            text-align: left;
            font-size: 1rem;
        }

        a {
            text-decoration: none;
        }

        .user_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1.5vh 0;

            h5 {
                margin: 0;
                text-align: left;
                display: flex;
                align-items: center;
                position: relative;

                .edit-icon {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    margin-left: 5px;

                }

            }

            input {
                border: 1px solid #ddd;
                border-radius: 5px;
                padding: 0.5rem;
                margin-left: 10px;

                &:focus {
                    outline: none;
                    border-color: #2B47FC;
                    ;
                }
            }

            .user_amount {
                font-size: 18px;
            }

            .user_headline {
                display: flex;
                align-items: center;

                h3 {
                    margin: 0;
                }
            }
        }

        .edit-profile-icon {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
    }


}

button {
    background: rgb(136, 152, 255);
    background: linear-gradient(180deg,
            rgba(136, 152, 255, 1) 0%,
            rgba(43, 71, 252, 1) 100%);
    border: none;
    padding: 2vh 0;
    border-radius: 50px;
    margin-bottom: 2vh;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 80%;

    &:hover {
        background: rgb(136, 152, 255);
        background: linear-gradient(90deg,
                rgba(136, 152, 255, 1) 0%,
                rgba(43, 71, 252, 1) 100%);

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

