@import '../scss/generals.scss';

.edit_income {

    .green {
        background: $bgGreen;
        border-radius: 0 0 20px 20px;
        height: 25vh;
        justify-content: space-between;
        align-items: center;


        .icon_income {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2%;
            margin-top: 3vh;

            .del_icon {
                cursor: pointer;
            }

        }

        h4 {
            font-weight: 600;
            font-size: 18px;
            margin-top: 4vh;
        }
    }

    form {
        position: relative;
        top: -80px;
        background: white;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 80%;
        margin: 0 auto;
        padding-top: 4vh;
        display: block;
        text-align: left;

        .formContent {
            padding: 0 5% 1vh;


            /* Name + Amount + Date + Receipt */
            label {
                color: #666666;
                font-weight: 500;
                font-size: 12px;
                display: block;
                justify-content: flex-start;
                text-align: left;
                padding-bottom: 1vh;
            }

            label:nth-of-type(4) {
                margin-top: 2vh;
            }

            input {
                display: block;
                justify-content: flex-start;
                text-align: left;
                padding: 1.5vh 4%;
                width: 100%;
                border-radius: 8px;
                border: #666666 1px solid;
            }

            /* Amount Input */
            input:nth-of-type(1) {
                margin-bottom: 3vh;
            }

            /* Date Input */
            input:nth-of-type(2) {
                margin-bottom: 4vh;
            }

            /* Receipt Input */
            input[type="file"] {
                display: none;
            }

            .custom-file-upload {
                border: 1px solid #ccc;
                display: inline-block;
                text-align: center;
                border: 1px dashed #666666;
                padding: 1.5vh 4%;
                width: 100%;
                border-radius: 8px;
                margin-bottom: 2vh;
                cursor: pointer;
            }

            button {
                background: linear-gradient(180deg, rgba(136, 152, 255, 1) 0%, rgba(43, 71, 252, 1) 100%);
                border: 1px solid #666666;
                border-radius: 40px;
                padding: 2vh 20%;
                width: 100%;
                margin: 0 auto;
                font-size: 18px;
                margin-bottom: 2vh;
                cursor: pointer;
                color: #fff;

                &:active {
                    background: $bgGreen;
                }
            }
        }
    }

    .image-preview {
        position: relative;
        width: 100%;
        margin: 10px auto;
        text-align: center;

        img {
            width: 100%;
            height: 100%;
            //   border-radius: 50%;
            object-fit: contain;
            //   border: 2px solid #ddd;
        }

        .remove-icon {
            position: absolute;
            top: -10px;
            right: -10px;
            color: #ff4d4d;
            //   background-color: white;
            //   border-radius: 50%;
            cursor: pointer;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .custom-file-upload {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 14px;
        color: #666;

        input {
            display: none;
        }
    }

}