@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../scss/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ===============================
//      GENERAL HEADLINES
// ===============================

body {
    font-family: 'Inter', sans-serif;
}

/* Spend Smarter Save More, Login, Sign Up */
h1 {
    color: $darkBlue;
    font-size: 36px;
}

/* $ */
h2 {
    color: #000;
    ;
}

/* Login Labels */
h3 {
    color: #666666;
}

/* White headlines: Profile, Add Income, Add Expense */
h4 {
    color: #fff;
}

/* Profile Information */
h5 {
    color: #000;
}

p {
    color: #666666;
}