@import "../scss/generals.scss";

.login {
  background: url("../img/lightBlueBackground.png") center / cover no-repeat;
  background-position: 0 -30vh;
  padding: 0 8%;

  h1 {
    padding: 4vh 0 3vh;
  }

  /* the maaan */
  img {
    width: 40%;
    position: relative;
    animation: guy 3s infinite ease-in-out;
    z-index: 999;
  }
  @keyframes guy {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  form {
    background: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: -14vh;
    padding-top: 10vh;
    display: block;

    .formContent {
      padding: 5vh 5% 10vh;

      /* Email + Password */
      label {
        color: #666666;
        font-weight: 500;
        font-size: 12px;
        display: block;
        justify-content: flex-start;
        text-align: left;
        padding-bottom: 1vh;
      }

      input {
        display: block;
        justify-content: flex-start;
        text-align: left;
        padding: 1.5vh 4%;
        width: 100%;
        border-radius: 8px;
        border: #dddddd 1px solid;
      }

      /* Email Input */
      input:nth-of-type(1) {
        margin-bottom: 3vh;
      }

      /* Password Input */
      input:nth-of-type(2) {
        margin-bottom: 4vh;
      }
    }

    button {
      background: rgb(136, 152, 255);
      background: linear-gradient(
        180deg,
        rgba(136, 152, 255, 1) 0%,
        rgba(43, 71, 252, 1) 100%
      );
      border: none;
      padding: 2vh 0;
      border-radius: 50px;
      margin-bottom: 2vh;
      color: white;
      font-size: 18px;
      font-weight: 600;
      width: 80%;
    }

    button:hover {
      background: rgb(136, 152, 255);
      background: linear-gradient(
        90deg,
        rgba(136, 152, 255, 1) 0%,
        rgba(43, 71, 252, 1) 100%
      );

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  /* Have no account? */
  p {
    padding: 2vh 2% 0 2%;
    font-size: 12px;
    margin: 0 0;

    a {
      text-decoration: none;
    }
  }
}
