@import "../scss/generals.scss";

.onboarding {
  background: url("../img/lightBlueBackground.png") center / cover no-repeat;
  background-position: 0 -30vh;

  .imageContainer {
    background: url("../img/Ellipsen.png");
  }

  .coin {
    position: absolute;
    margin-left: 3%;
    animation: coinAnimation 10s linear 0s infinite normal forwards;
  }

  .donut {
    margin-left: 50%;
    animation: donutAnimation 8s linear 0s infinite;
  }

  @keyframes coinAnimation {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
      transform: translateY(100px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateY(50px);
    }
  }

  @keyframes donutAnimation {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
      transform: translateY(150px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateY(100px);
    }
  }

  .guy {
    width: 100%;
    margin: auto;
  }

  h1:nth-of-type(2) {
    margin-bottom: 2vh;
  }

  button {
    background: rgb(136, 152, 255);
    background: linear-gradient(
      180deg,
      rgba(136, 152, 255, 1) 0%,
      rgba(43, 71, 252, 1) 100%
    );
    border: none;
    padding: 2vh 30%;
    border-radius: 50px;
    margin-bottom: 5vh;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }

  button:hover {
    background: rgb(136, 152, 255);
    background: linear-gradient(
      90deg,
      rgba(136, 152, 255, 1) 0%,
      rgba(43, 71, 252, 1) 100%
    );
  }

  p {
    font-weight: 400;
    font-size: 14px;

    a {
      text-decoration: none;
    }
  }
}
