@import '../scss/generals.scss';

.profile {

    border-radius: 0 0 400px 400px;

    .topBlueContainer {
        background: linear-gradient(180deg, rgba(136, 152, 255, 1) 0%, rgba(43, 71, 252, 1) 100%);
        border-radius: 0 0 20px 20px;
        height: 22vh;
        color: white;
        text-align: center;
        h4{
            margin-top: 4vh;
        }

      
    }

    .profilePicture {
        object-fit: cover;
        position: relative;
        top: -75px;
        border-radius: 100%;
        width: 150px;
        height: 150px;
        background: white;
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
    }

    .name {
        font-weight: 600;
        font-size: 20px;
    }

    .username {
        font-weight: 600;
        font-size: 14px;
        color: $darkBlue;
        margin-bottom: 2vh;
    }

    .profileContent {
        overflow: scroll;
        height: 40vh;
        text-align: left;
        padding: 0 10%;
        padding-bottom: 6vh;

        p {
            display: flex;
            align-items: center;
            margin-bottom: 3vh;

            /* Icons */
            img {
                margin-right: 5%;
            }
        }

        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: black;
        }
    }



}