@import "../scss/generals.scss";

.signUp {
  background: url("../img/lightBlueBackground.png") center / cover no-repeat;
  background-position: 0 -30vh;
  // width: 20%;
  // margin: auto;
  padding: 0 8%;

  h1 {
    padding: 4vh 0 9vh;
  }

  form {
    background: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-top: 4vh;
    display: block;

    .formContent {
      padding: 0 5% 2vh;

      /* Name + Email + Password */
      label {
        color: #666666;
        font-weight: 500;
        font-size: 12px;
        display: block;
        justify-content: flex-start;
        text-align: left;
        padding-bottom: 1vh;
      }

      input {
        display: block;
        justify-content: flex-start;
        text-align: left;
        padding: 1.5vh 4%;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 3vh;
        border: #dddddd 1px solid;
      }

      /* Profile Picture */
      input[type="file"] {
        display: none;
      }
      .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        text-align: center;
        border: 1px dashed #666666;
        padding: 1.5vh 4%;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 2vh;
        cursor: pointer;
      }
    }

    button {
      background: rgb(136, 152, 255);
      background: linear-gradient(
        180deg,
        rgba(136, 152, 255, 1) 0%,
        rgba(43, 71, 252, 1) 100%
      );
      border: none;
      padding: 2vh 35%;
      border-radius: 50px;
      color: white;
      font-size: 18px;
      font-weight: 600;

      &:hover {
        background: rgb(136, 152, 255);
        background: linear-gradient(
          90deg,
          rgba(136, 152, 255, 1) 0%,
          rgba(43, 71, 252, 1) 100%
        );

        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  /* Have no account? */
  p {
    padding: 2vh 2%;
    font-size: 12px;
    margin: 0 0;

    a {
      text-decoration: none;
    }
  }
}
