@import "../scss/generals.scss";

.statistic_container {
  background: linear-gradient(
    180deg,
    rgba(136, 152, 255, 1) 0%,
    rgba(43, 71, 252, 1) 100%
  );
  border-radius: 0 0 20px 20px;

  height: 25vh;

  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 4vh 1%;

    h4 {
      color: #fff;
      width: 80%;
      padding-right: 70px;
    }
    .img {
      width: 20%;
    }
  }
  .chart_data {
    margin-top: 10vh;
    padding: 4vh 5%;

    height: 350px;
    canvas {
      height: 300px !important;
    }
  }
  .transaction_header {
    padding: 0 5% 1vh 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6 {
      text-align: left;
      font-size: 1rem;
      margin: 0;
    }

    a {
      text-decoration: none;
      font-size: 14px;
    }
  }

  .transactionsHistory {
    overflow: scroll;
    height: 25vh;
    padding: 0 5% 8vh 5%;
    background: white;

    a {
      text-decoration: none;
    }

    .transaction_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1vh 0;
      .transaction_amount {
        font-size: 18px;
      }
      .transaction_headline {
        display: flex;
        align-items: center;
        .transaction_icon {
          width: 45px;
          height: 45px;
          background-color: #dddddd;
          opacity: 0.8;
          border-radius: 10px;
          margin-right: 12px;

          h3 {
            margin: 8px 0;
          }
        }
        h5 {
          margin-bottom: 2px;
          text-align: left;
        }

        p {
          margin: 0;
          text-align: left;
        }
      }
    }
  }
}
