@import '../scss/generals.scss';

div {
    .transactionDetails {
        // width: 20%;
        // margin: auto;
        background: $darkBlue;

        .topBlueContainer {
            display: flex;
            padding: 5vh 5%;
            justify-content: space-between;
            align-items: center;

            /* three dots */
            img:nth-of-type(2) {
                height: 5%;
            }
        }

        .whiteContainer {
            background: white;
            border-radius: 30px 30px 0 0;

            /* Icon */
            .transaction_icon {
                display: inline-block;
                padding: 10px 20px;
                background-color: #dddddd;
                opacity: 0.8;
                border-radius: 50%;
                margin: 2vh 0;

                h3 {
                    font-size: 2rem;
                    margin-bottom: 0;

                }
            }

            /* Expense */
            .incomeOrExpense {
                color: #F95B51;
                background: rgba(249, 91, 81, 0.1);
                border-radius: 40px;
                width: 25%;
                padding: 0.5vh 0;
                margin: auto;
                font-size: 14px;
                margin-bottom: 2vh;
            }

            /* $ 85.00 */
            h2 {
                padding-bottom: 2vh;
            }

            .headlineGroup {
                padding: 0 5%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 2vh;

                /* Transaction details */
                h5 {
                    font-weight: 500;
                    font-size: 18px;
                }


            }

            .transactionDetailsContainer {
                overflow: scroll;
                height: 50vh;
                padding: 0 5% 10vh 5%;
                text-align: left;



                .status {
                    border-bottom: 1px solid #DDDDDD;
                    margin-bottom: 2vh;

                    line-height: 2rem;

                    p {

                        span {
                            color: black;
                            font-weight: 500;
                            // margin-right: auto;
                            float: right;
                        }
                    }

                    p:nth-of-type(1) {

                        span:nth-of-type(1) {
                            color: #F95B51;
                            font-weight: 600;
                        }
                    }


                }

                .spending {
                    border-bottom: 1px solid #DDDDDD;
                    margin-bottom: 2vh;
                    padding-bottom: 3vh;

                    span {
                        color: black;
                        font-weight: 500;
                        float: right;
                    }
                }

                .total {
                    padding-bottom: 1vh;

                    span {
                        color: black;
                        font-weight: 600;
                        float: right;
                    }
                }

                .receipt_container {
                    margin-bottom: 2vh;
                    text-align: center;

                    p {
                        text-align: left;
                    }

                    img {
                        width: 100%;
                        border-radius: 20px;
                        object-fit: contain;
                    }
                }

                .buttonContainer {
                    display: flex;
                    text-align: center;

                    /* Edit Button */
                    a {
                        background: linear-gradient(180deg, rgba(136, 152, 255, 1) 0%, rgba(43, 71, 252, 1) 100%);
                        border: 1px solid #666666;
                        border-radius: 40px;
                        padding: 2vh 20%;
                        width: 100%;
                        margin: 0 auto;
                        font-size: 18px;
                        margin-bottom: 1vh;
                        cursor: pointer;
                        color: #fff;
                        text-decoration: none;

                        &:active {
                            background: linear-gradient(180deg, rgba(136, 152, 255, 1) 0%, rgba(43, 71, 252, 1) 100%);
                            color: white;
                        }

                        &:hover {
                            background-color: #666666;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .navContainer {
        padding: 0 5%;
    }
}