// ===============================
//             COLORS
// ===============================

$darkBlue: #2B47FC;
$lightBlue: #8898FF;
$babyBlue: #8898FF33;
$bgGreen: #00B495;
$bgRed: #E4797F;
$incomeGreen: #25A969;
$expensesRed: #F95B51;
$white: #E5E5E5;
$iconsGrey: #AAAAAA;