@import './scss/generals.scss';
// @import './scss/variables.scss';

@import './scss/MediaQueries.scss';
@import './scss/Home.scss';
@import './scss/Wallet.scss';
@import './scss/Login.scss';
@import './scss/Nav.scss';
@import './scss/Onboarding.scss';
@import './scss/Profile.scss';
@import './scss/SignUp.scss';
@import './scss/SplashScreen.scss';
@import './scss/TransactionDetails.scss';
@import './scss/Wallet.scss';
@import './scss/Add.scss';
@import './scss/Statistic.scss';
@import './scss/EditProfile.scss';





.App {
    text-align: center;
    // max-width: 600px;
}